body{
    background-color: rgb(167, 174, 174);
    font-family: "Montserrat", sans-serif;
}

h1{
    text-align: center;
}
h2{
    margin-left: 20%;
    margin-top: 5%;
}
.section{
    text-align: center;
    background-color: beige;
    margin: 5%;
    padding-top: 2%; 
    padding-bottom: 2%;
}

#photoId{
    text-align: center;
    margin-top: 5%;
}
