body {
    background-image: url("bg.jpg");
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
}

h2 {

    text-align: center;
    margin-top: 5%;
    font-size: 500%;
}

h3 {
    font-size: 200%;
}

.section {
    text-align: center;
    background-color: rgba(245, 245, 220,0.9);
    margin: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 100%;
}


#photoId {
    padding-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}